<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-1">
            <div class="mb-4">
                <h1 class="dashboard-title" style="text-align: center;">Student Management</h1>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6" style="font-weight: 500;font-size: x-large;">
            Student (2)
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <button mat-raised-button color="primary" class="float-end" (click)="goToCreateStudent()">
                <mat-icon>add_outline</mat-icon>
                Add Student</button>
        </div>
    </div>
</div>



