<div class="container-fluid" style="padding-top: 10px;">
    <div class="row">
        <div class="col-12">
        <h1 style="text-align: center;">Classwork</h1>
        </div>
    </div>
    
    <div class="row">
        @for(item of panelArray; track item.id){
        <div class="col-md-12 col-sm-12 col-lg-12 mb-3">
            <mat-accordion class="example-headers-align" multi="false">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>{{item.name}}</mat-panel-title>
                      <mat-panel-description>
                        <mat-icon *ngIf="item.completed == false" style="color:red">flag</mat-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12 mb-2" *ngFor="let i of item.data;let x = index">
                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>{{x + 1}}. {{i.name}}</mat-panel-title>
                                        <mat-panel-description>
                                            <mat-icon  *ngIf="i.completed == true" style="margin-right:10px; color: #07f507;">mood</mat-icon>
                                            <mat-icon  *ngIf="i.completed == false" style="margin-right:10px;">mood_bad</mat-icon>
                                            <!-- <mat-chip style="background-color: rgb(190, 190, 190);">{{i.tag}}</mat-chip> -->
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-lg-12 mb-2" *ngFor="let j of i.data;let y = index">
                                        </div>
                                        </div>
                                   </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                  </mat-expansion-panel>
            </mat-accordion>
        </div>
    }
    </div>
</div>
