<div class="container-fluid">
    <div class="row" style="justify-content: center;">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 mb-3" style="padding-top: 10px;">
            <mat-card style="    padding: 10px;">
                <div class="container">
                    <button mat-icon-button (click)="goBack()" aria-label="Back" style="float: left;border: none;">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    <!-- <div class="fretboard" style="margin: auto;">
                        <div class="string"></div>
                        <div class="string">
                        </div>
                        <div class="string"></div>
                        <div class="" style="    position: relative;
                        left: 48%;
                        top: -5%;
                        rotate: 90deg;
                        width: 5px;
                        height: 80%;
                        background-color: black;"></div>
                        <div class="" style="position: relative;
                        left: 50%;
                        top: -48%;
                        rotate: 90deg;
                        width: 5px;
                        height: 6%;
                        background-color: #efeded;
                        border-radius: 20px;"></div>
                        <div class="dot"></div>
                    </div> -->
                    <!-- <div class="abacus" [class.disabled]="disabled">
                        <div class="column" *ngFor="let col of columns; let i = index">
                          <div class="bar"></div>
                          <div class="bead upper" [class.active]="col.upper" (click)="toggleUpper(i)"></div>
                          <div class="spacer"></div>
                          <div class="bead lower"
                               *ngFor="let bead of col.lower; let j = index"
                               [class.active]="bead"
                               (click)="toggleLower(i, j)">
                          </div>
                          <div class="value">{{ getColumnValue(col) }}</div>
                        </div>
                      </div> -->
                    <!-- <div class="abacus-container">
                        <div class="total">Total: {{ totalValue }}</div>
                        <div class="abacus-frame">
                          <div class="rod" *ngFor="let rod of rods; let i = index">
                            <div class="rod-line"></div>
                            <div class="upper-bead" 
                                 [class.active]="upperBeads[i][0]"
                                 (click)="toggleUpperBead(i)">
                            </div>
                            <div class="divider">
                              <div *ngIf="i % 2 != 0" class="divider-dot"></div>
                            </div>
                            <div class="lower-beads">
                              <div class="lower-bead" 
                                   *ngFor="let bead of lowerBeads[i]; let j = index"
                                   [class.active]="lowerBeads[i][j]"
                                   (click)="toggleLowerBead(i, j)">
                              </div>
                            </div>
                      
                          </div>
                        </div>
                      </div> -->
                    <!-- <div class="abacus-container">
                        <div class="total">Total: {{ totalValue }}</div>
                        <div class="abacus-frame">
                            <div class="rod" *ngFor="let rod of rods; let i = index">
  
                                <div class="rod-line"></div>
                                <div *ngIf="activeRods[i] && upperBeads[i][0]" 
                                     class="upper-bead" 
                                     [class.active]="upperBeads[i][0]"
                                     (click)="toggleUpperBead(i)">
                                </div>
                                <div class="divider">
                                  <div *ngIf="i % 2 != 0" class="divider-dot"></div>
                                </div>
                                <div class="lower-beads">
                                  <div *ngFor="let bead of lowerBeads[i]; let j = index">
                                    <div *ngIf="activeRods[i] && lowerBeads[i][j]" 
                                         class="lower-bead" 
                                         [class.active]="lowerBeads[i][j]"
                                         (click)="toggleLowerBead(i, j)">
                                    </div>
                                  </div>
                                </div>
                              
                              </div>
                        </div>
                    </div> -->
                    <div class="abacus-container">
                        <div class="total">Total: {{ totalValue }}</div>
                        <div class="abacus" [class.disabled]="disabled">
                            <div class="abacus-frame">
                                <div class="rod" *ngFor="let rod of rods; let i = index">
                                    <!-- [style.visibility]="activeRods[i] && upperBeads[i][0] ? 'visible' : 'hidden'"
                                    [ngStyle]="{ 'pointer': disabled ? 'not-allowed' : 'pointer' }" -->
                                    <div class="rod-line"></div>
                                    <div class="upper-bead" [class.active]="upperBeads[i][0]"
                                        
                                        (click)="toggleUpperBead(i)">
                                    </div>
    
                                    <!-- Divider with optional white dot -->
                                    <div class="divider">
                                        <div *ngIf="i % 3 === 0" class="divider-dot"></div>
                                    </div>
    
                                    <!-- Lower beads [style.visibility]="activeRods[i] && lowerBeads[i][j] ? 'visible' : 'hidden'"
                                                [ngStyle]="{ 'pointer': disabled ? 'not-allowed' : 'pointer' }"-->
                                    <div class="lower-beads">
                                        <div *ngFor="let bead of lowerBeads[i]; let j = index">
                                            <div class="lower-bead" [class.active]="lowerBeads[i][j]"
                                                
                                                (click)="toggleLowerBead(i, j)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5 mb-3" style="padding-top: 10px;margin: auto;">
                        <mat-form-field class="example-full-width" appearance="outline"
                            style="width: 100%; margin-top: 20px;">
                            <input matInput placeholder="Enter value" [(ngModel)]="inputValue" (ngModelChange)="onInputChange($event)"
                                (keydown.enter)="onEnter()" (keydown.backspace)="onBackspace()">
                        </mat-form-field>
                    </div>

                    <div class="keypad" style="justify-content: center;">
                        <button (click)="buttonClicksp('-')" class="operation">-</button>
                        <button (click)="buttonClickNumber(1)">1</button>
                        <button (click)="buttonClickNumber(2)">2</button>
                        <button (click)="buttonClickNumber(3)">3</button>
                        <button (click)="buttonClicksp('Next')" class="special">Next</button>
                        <button (click)="buttonClicksp('+')" class="operation">+</button>
                        <button (click)="buttonClickNumber(4)">4</button>
                        <button (click)="buttonClickNumber(5)">5</button>
                        <button (click)="buttonClickNumber(6)">6</button>
                        <button (click)="buttonClicksp('Delete')" class="special">Delete</button>
                        <button (click)="buttonClicksp('.')">.</button>
                        <button (click)="buttonClickNumber(7)">7</button>
                        <button (click)="buttonClickNumber(8)">8</button>
                        <button (click)="buttonClickNumber(9)">9</button>
                        <button (click)="buttonClickNumber(0)">0</button>

                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>