<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-4">
            <div class="mb-4">
                <h1 class="dashboard-title" style="text-align: center;">Trainer Management</h1>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" style="font-weight: 500;">
            Trainer (2)
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <button mat-raised-button color="primary" class="float-end" (click)="goToCreateTrainer()">
                <mat-icon>add_outline</mat-icon>
                Add Trainer</button>
        </div>
    </div>
</div>